.card{
    height: 300px;
    width: 200px;

    padding: 10px;
    padding-bottom: 0px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    box-shadow:1px 1px 1px 1px;
    margin: 10px;
position:relative;
overflow: hidden;
}

.card .image{
    width: 90%;
    aspect-ratio: 1/1;

}
.image img{
    width: 100%;
}
.card .info{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 100%;

}
.info p.title {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
margin:5px 0;
font-weight: 700;
text-overflow: clip;
}
.info p.price{
    width:100%;
    text-align: right;
    margin:5px 0px
}
.card .label{
    height:15px;
    width:200px;
    background: #235975;
position: absolute;
bottom: 0;
}

@media only screen and (max-width:552px){
    .card{
        height: 210px;
        width: 133.33px;
    
        padding: 6px;
     
        border-radius:8px;
        
    }
    
   
    .info p.title {
    font-size: 0.8rem;
    }
    .info p.price{
        
        font-size:0.6rem;
    }
  #buttoncart{
    width: 40%;
    height: 20px;

  }#buttoncart #addcart{
    width: 70%;
    height: 15px;

  }
}